:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #2d2d2d;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body,
#root
{
    height: 100%;
    background-color: #000;
    color: white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.instructions {
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  display: inline-table;
  margin-top: 1rem;
  text-shadow: 1px 1px 1px var(--black);
  /* background-color: hsla(0, 0%, 0%, 0.595); */
}

.instructions span {
  font-weight: bold;
  background-color: var(--grey);
  padding: 2px 5px;
  border-radius: 20px;
}